@page {
    size: A4;
    margin: 20mm;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.container-fluid {
    width: 210mm;
    max-width: 210mm;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
}

.company-logo {
    max-width: 15rem;
}

.footer {
    bottom: 0;
}

.header, .header-space,
.footer, .footer-space {
    height: 100px;
}

.table th, .table td {
    padding: 0.3rem;
}

.footer > .table {
    width: 100%;
}

.footer > .table td {
    width: 50%
}
@media print {
    table {
        page-break-inside: auto;
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }
    thead {
        display: table-header-group;
    }
    tfoot {
        display: table-footer-group;
    }
}

.product-title-cell {
    word-wrap: break-word;
    max-width: 100%;
}
